*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  background-image: url(./public/Canser.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.div-vacantes{
  padding: 1vw;
}

.input-vacantes{
  text-align: center;
  width: 15vw;
  height: 8vh;
  font-size: 1rem;
  border: none;
  border-radius: 5%;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1vw;
}

.input-vacantes::placeholder{
  color: black;
}

.btn-vacantes{
  height: 8vh;
  font-size: 1vw;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1vw;
  border: 1px solid rgba(0, 81, 255, 0.575);
}

.btn-vacantes:hover{
  background-color: rgba(255, 206, 206, 0.8);
  border: 1px solid red;
}

.btn-vacantes:focus{
  background-color: rgba(216, 222, 253, 0.8);
  border: 1px solid rgb(0, 81, 255);
}






      /* MEDIA QUERYS ↓*/

      @media screen and (max-width: 524px) {
        section{
          background-image: url(./public/Can.jpg);
        }

        .div-vacantes{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3vw;
        }
        
        .input-vacantes{
          width: 45vw;
        }

        .input-vacantes::placeholder{
          font-size: 2.5vw;
        }
        
        .btn-vacantes{
          font-size: 4vw;
          width: 30vw;
        }

      }